/* Animation */


h2,
#text1 {
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h2 {
    animation: fadeInAnimation ease 3s;
}

#text1 {
    animation: fadeInAnimation ease 7s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.body {
    background-image: linear-gradient(to top, rgba(64, 65, 46, 0.8), rgba(46, 49, 65, 0.8)), url('../../assets/background.jpg');
    background-size: auto, cover;
	background-attachment: fixed,fixed;
	background-position: center, center;
}

footer,section { 
	display: block;}


ul {
	list-style: none;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Type */

input, select, textarea {
    color: #ffffff !important;
    font-family: "League Spartan",sans-serif;
    font-size: 16.5pt;
    font-weight: 300;
    line-height: 1.65;
}

@media screen and (max-width: 1680px) {

    input, select, textarea {
        font-size: 13pt;
    }

}

@media screen and (max-width: 1280px) {

    input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 980px) {

    input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 736px) {

    input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 480px) {

    input, select, textarea {
        font-size: 12pt;
    }

}

a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    border-bottom-color: transparent;
    color: #ffffff !important;
}

p {
    margin: 0 0 2em 0;
    color: #ffffff;
}


h1, h2, h3, h4, h5, h6 {
    color: #ffffff !important;
    font-family: "League Spartan",sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    font-weight: 200;
}

h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
    padding-bottom: 1em;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}

.main-content{
    color: #4c502c !important; 

}

#main-content1 {
    border-bottom: solid 1px #4c502c !important;
}

#content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#description1,
#description2 {
    margin-top: 20px;
    font-size: 0.9em !important;
}

#main-content3 {
    text-align: left;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 0.9em;
}

h4 {
    font-size: 0.7em;
}

h5 {
    font-size: 0.7em;
}

h6 {
    font-size: 0.7em;
}

@media screen and (max-width: 600px) {

    #inner2 {
        display: flex !important; 
        flex-direction: column !important; 
        align-items: center !important;
    }
    .main-content {
        text-align-last: center !important;
    }

    #description1, #description2 {
        width: 55%;
        margin-right: 28px;
        margin-bottom: 40px !important;
        text-align: justify !important;
    }
   
    #description2 {
        width:100%;
    }

    .intro, .main-content {
        text-align-last: center !important;
    }
}

@media screen and (max-width: 736px) {

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 0.8em;
    }

}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

		form > :last-child {
			margin-bottom: 0;
		}

		form > .fields {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			width: calc(100% + 3em);
			margin: -1.5em 0 2em -1.5em;
		}

			form > .fields > .field {
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
				-moz-flex-shrink: 0;
				-webkit-flex-shrink: 0;
				-ms-flex-shrink: 0;
				flex-shrink: 0;
				padding: 1.5em 0 0 1.5em;
				width: calc(100% - 1.5em);
			}

				form > .fields > .field.half {
					width: calc(50% - 0.75em);
				}

				form > .fields > .field.third {
					width: calc(100%/3 - 0.5em);
				}

				form > .fields > .field.quarter {
					width: calc(25% - 0.375em);
				}

		@media screen and (max-width: 480px) {

			form > .fields {
				width: calc(100% + 3em);
				margin: -1.5em 0 2em -1.5em;
			}

				form > .fields > .field {
					padding: 1.5em 0 0 1.5em;
					width: calc(100% - 1.5em);
				}

					form > .fields > .field.half {
						width: calc(100% - 1.5em);
					}

					form > .fields > .field.third {
						width: calc(100% - 1.5em);
					}

					form > .fields > .field.quarter {
						width: calc(100% - 1.5em);
					}

		}

	label {
		color: #ffffff;
		display: block;
		font-family: "League Spartan",sans-serif;
		font-size: 0.8em;
		font-weight: 700;
		letter-spacing: 0.1em;
		margin: 0 0 0.7em 0;
		text-transform: uppercase;
	}

	input[type="email"],
    input[type="topic"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(255, 255, 255, 0.025);
		border-radius: 5px;
		border: none;
		border: solid 2px rgba(255, 255, 255, 0.125);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="email"]:invalid,
        input[type="topic"]:invalid,
		input[type="tel"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="email"]:focus,
        input[type="topic"]:focus,
		input[type="tel"]:focus,
		select:focus,
		textarea:focus {
			border-color: #5b6ba6;
		}

	select {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.125)' /%3E%3C/svg%3E");
		background-size: 1.25rem;
		background-repeat: no-repeat;
		background-position: calc(100% - 1rem) center;
		height: 2.75em;
		padding-right: 2.75em;
		text-overflow: ellipsis;
	}

		select option {
			color: #ffffff;
			background: #2e3141;
		}

		select:focus::-ms-value {
			background-color: transparent;
		}

		select::-ms-expand {
			display: none;
		}

input[type="email"],
input[type="topic"],
select {
    height: 2.75em !important;
}

textarea {
    padding: 0.75em 1em;
}


::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.35) !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.35) !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.35) !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.35) !important;
    opacity: 1.0;
}

/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    color: #ffffff !important;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

.icon > .label {
    display: none;
}

.icon:before {
    margin-right: 30px;
    line-height: inherit;
}

.icon.solid:before {
    font-weight: 900;
}

.icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
}

/* List */


li {
	padding-left: 0.25em;
}

ul {
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em;
}

ul li {
	padding-left: 0.5em;
}


/* Actions */

ul.actions {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	cursor: default;
	list-style: none;
    background-color: rgba(64, 65, 46, 0);
	margin-left: -1em;
	padding-left: 0;
}

ul.actions li {
	padding: 0 0 0 1em;
	vertical-align: middle;
}

@media screen and (max-width: 480px) {

    ul.actions:not(.fixed) {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0;
        width: 100% !important;
    }

    ul.actions:not(.fixed) li {
        -moz-flex-grow: 1;
        -webkit-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-shrink: 1;
        flex-shrink: 1;
        padding: 1em 0 0 0;
        text-align: center;
        width: 100%;
    }

    ul.actions:not(.fixed) li > * {
        width: 100%;
    }

    ul.actions:not(.fixed) li:first-child {
        padding-top: 0;
    }

    ul.actions:not(.fixed) li input[type="submit"],
    ul.actions:not(.fixed) li input[type="reset"],
    ul.actions:not(.fixed) li input[type="button"],
    ul.actions:not(.fixed) li button,
    ul.actions:not(.fixed) li .button {
        width: 100%;
    }

    ul.actions:not(.fixed) li input[type="submit"].icon:before,
    ul.actions:not(.fixed) li input[type="reset"].icon:before,
    ul.actions:not(.fixed) li input[type="button"].icon:before,
    ul.actions:not(.fixed) li button.icon:before,
    ul.actions:not(.fixed) li .button.icon:before {
        margin-left: -0.5rem;
    }
}

/* Icons */


ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 1.25em;
}

/* Contact */

ul.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    padding: 0;
}

ul.contact li {
    text-decoration: none;
    margin: 2.5em 0 0 0;
    padding: 0 0 0 3.25em;
}

li.icon.solid.fa-home {
    text-align: start;
    margin: 0%;
}

li.icon.solid {
    padding: 0%;
}

@media screen and (max-width: 736px) {

    ul.contact li {
        margin: 1.5em 0 0 0;
    }

}

/* Button */

input[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.75em;
    letter-spacing: 0.1em;
    line-height: 3.75em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.025);
}

input[type="submit"]:active {
    background-color: rgba(255, 255, 255, 0.075);
}

input[type="submit"].icon:before{
    margin-right: 0.5em;
    color: rgba(255, 255, 255, 0.35);
}

input[type="submit"].primary {
    background-color: #4c5c96;
    box-shadow: none;
}

input[type="submit"].primary:hover {
    background-color: #53639e;
}

input[type="submit"].primary:active {
    background-color: #45558d;
}

input[type="submit"].primary.icon:before {
    color: #7985b0;
}

input[type="submit"].fit {
    width: 100%;
}

input[type="submit"].small {
    font-size: 0.6em;
}

input[type="submit"].large {
    font-size: 1em;
}

input[type="submit"].disabled, input[type="submit"]:disabled {
    opacity: 0.25;
}

@media screen and (max-width: 480px) {

    input[type="submit"] {
        padding: 0;
    }

}

/* Banner */

#banner {
    padding: 10em 0 4.75em 0;
}

#banner .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 55em;
    height: 20em;
}


#banner h2 {
    opacity: 1;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    font-size: 2.5em;
    margin-bottom: 0.8em;
    padding-bottom: 0.4em;
}

#banner p {
    opacity: 1;
    font-family: "League Spartan",sans-serif;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.1em;
    line-height: 2;
    text-transform: uppercase;
}

@media screen and (max-width: 980px) {

    #banner {
        padding: 12em 3em 12.375em 3em ;
        margin-bottom: -4.75em;
    }

    #banner .inner {
        width: 100%;
    }

}

@media screen and (max-width: 736px) {
    .inner {
        height: 100% !important;
    }

    #banner {
        padding: 5em 2em 4.25em 2em ;
        margin-bottom: -2.5em;
    }

    #banner h2 {
        font-size: 1.5em;
    }

    #banner p {
        font-size: 0.8em;
    }


}

/* Wrapper */

.wrapper {
    background-color: #2e3141;
    margin: 6.5em 0;
    position: relative;
}

.wrapper:before, .wrapper:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:rgb(255, 255, 130)' /%3E%3C/svg%3E");
}

.wrapper:before {
    box-shadow: inset 0 -1px 0 0 #2e3141, 0 1px 0 0 #2e3141;
}

.wrapper:after {
    box-shadow: inset 0 -1px 0 0 #2e3141, 0 1px 0 0 #2e3141;
}

.wrapper:before, .wrapper:after {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 6.5em;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.wrapper:before {
    left: 0;
    top: -6.5em;
}

.wrapper:after {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
    bottom: -6.5em;
    left: 0;
}

.wrapper.alt:before {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.wrapper.alt:after {
    -moz-transform: scaleY(-1) scaleX(-1);
    -webkit-transform: scaleY(-1) scaleX(-1);
    -ms-transform: scaleY(-1) scaleX(-1);
    transform: scaleY(-1) scaleX(-1);
}

.wrapper .inner {
    padding: 3em 0 1em 0 ;
    margin: 0 auto;
    width: 55em;
}

.wrapper.style2 {
    background-color: #353849;
}


.wrapper.style2:before {
    box-shadow: inset 0 -1px 0 0 #353849, 0 1px 0 0 #353849;
}

.wrapper.style2:after {
    box-shadow: inset 0 -1px 0 0 #353849, 0 1px 0 0 #353849;
}

.wrapper.spotlight {
    background-color: rgb(255, 255, 130) ;
}


.wrapper.spotlight:before {
    box-shadow: inset 0 -1px 0 0 rgb(255, 255, 130), 0 1px 0 0 rgb(255, 255, 130);
}

.wrapper.spotlight:after {
    box-shadow: inset 0 -1px 0 0 rgb(255, 255, 130), 0 1px 0 0 rgb(255, 255, 130);
}

.wrapper.spotlight .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.wrapper.spotlight .image {
    margin: 0 3em 2em 0;
    width: 22em;
    overflow: hidden;
    
}

.wrapper.spotlight .image img {
    width: 100%;
}

#image1 {
    margin-bottom: 0%;
}

#image2 {
    width: 70%;
    margin-bottom: 0%;
}

.image iframe {
    margin-left: -35px !important;
    margin-top: -500px !important; 
    height:850px !important;
}

.wrapper.spotlight .content {
    width: 100%;
    
}

.wrapper.spotlight:nth-child(2n - 1) .inner {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    text-align: right;
}

.wrapper.spotlight:nth-child(2n - 1) .image {
    margin: 0 0 2em 3em;
}

.wrapper.spotlight.style2 {
    background-color: rgb(255,244,79);

}

.wrapper.spotlight.style2:before, .wrapper.spotlight.style2:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:rgb(255,244,79)' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style2:before {
    box-shadow: inset 0 -1px 0 0 rgb(255,244,79), 0 1px 0 0 rgb(255,244,79);
    background-color: rgb(255, 255, 130);
}

.wrapper.spotlight.style2:after {
    box-shadow: inset 0 -1px 0 0 rgb(255,244,79), 0 1px 0 0 rgb(255,244,79) !important;
}

@media screen and (max-width: 980px) {

    .wrapper {
        margin: 4.75em 0;
    }

    .wrapper:before, .wrapper:after {
        height: 4.75em;
    }

    .wrapper:before {
        top: -4.75em;
    }

    .wrapper:after {
        bottom: -4.75em;
        left: 0;
    }

    .wrapper .inner {
        padding: 3em 3em 1em 3em ;
        width: 100%;
    }

    .wrapper.spotlight .image {
        margin: 0 2em 2em 0;
        width: 32em;
    }

    .wrapper.spotlight:nth-child(2n - 1) .image {
        margin: 0 0 1em 2.3em;
    }

}
@media screen and (max-width: 600px) {
    #image1 {
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }
}

@media screen and (max-width: 736px) {

    .wrapper {
        margin: 2.5em 0;
    }

    .wrapper:before, .wrapper:after {
        height: 2.5em;
    }

    .wrapper:before {
        top: -2.5em;
    }

    .wrapper:after {
        bottom: -2.5em;
        left: 0;
    }

    .wrapper .inner {
        padding: 2em 2em 0.1em 2em ;
    }

    .wrapper.spotlight .inner {
        -moz-align-items: -moz-flex-start;
        -webkit-align-items: -webkit-flex-start;
        -ms-align-items: -ms-flex-start;
        align-items: flex-start;
    }

}


@media screen and (max-width: 480px) {

    .wrapper.spotlight .inner {
        display: block;
    }

    #image2 {
        margin: 0 0 1em 0 !important;
        max-width: 85%;
    }

}

@media screen and (max-width: 360px) {

    .wrapper .inner {
        padding: 2em 1.5em 0.1em 1.5em ;
    }

}

/* Footer */

#footer .inner {
    padding: 5em 0 3em 0 ;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 55em;
}

#footer .inner > * {
    width: 100%;
}

#footer .inner form {
    margin: 0 3em 0 0;
    width: calc(50% - 1.5em);
}

#footer .inner .contact {
    width: calc(50% - 1.5em);
}

#footer .inner .copyright {
    border-top: solid 2px rgba(255, 255, 255, 0.125);
    list-style: none;
    margin: 4em 0 2em 0;
    padding: 2em 0 0 0;
    width: 100%;
}

#footer .inner .copyright li {
    border-left: solid 2px rgba(255, 255, 255, 0.125);
    color: rgba(255, 255, 255, 0.35);
    display: inline-block;
    font-size: 0.9em;
    line-height: 1;
    margin-left: 1em;
    padding: 0;
    padding-left: 1em;
}

#footer .inner .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#footer .inner .copyright li a {
    color: inherit;
}
@media screen and (max-width: 980px) {

    #footer {
        margin-top: -4.75em;
        padding-top: 4.75em;
    }

    #footer .inner {
        padding: 3em 3em 1em 3em ;
        display: block;
        width: 100%;
    }

    #footer .inner form {
        width: 100%;
        margin: 0 0 4em 0;
    }

    #footer .inner .contact {
        width: 100%;
        margin: 0 0 4em 0;
    }

    #footer .inner .copyright {
        margin: 4em 0 2em 0;
    }

}

@media screen and (max-width: 736px) {

    #footer {
        margin-top: -2.5em;
        padding-top: 2.5em;
    }

    #footer .inner {
        padding: 2em 2em 0.1em 2em ;
    }

    #footer .inner form {
        margin: 0 0 3em 0;
    }

    #footer .inner .contact {
        margin: 0 0 3em 0;
    }

}

@media screen and (max-width: 480px) {
    #footer .inner .copyright li {
        border-left: 0;
        display: block;
        margin: 1em 0 0 0;
        padding-left: 0;
    }

    #footer .inner .copyright li:first-child {
        margin-top: 0;
    }

}

@media screen and (max-width: 360px) {
    #footer .inner {
        padding: 2em 1.5em 0.1em 1.5em ;
    }

}

/* Click on Img */
.media {
    width: 80%;
    position: fixed;
    left: 0;
    right: 0;
    top: 3%;
    bottom: 0;
    margin: auto;
    color:white;
    cursor: pointer;
    display:none;
    z-index: 10;
  }

.overlay{
    position:fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(67, 67, 67, 0.6);
    width:100%;
    height:120%;
    top: 0;
    color:white;
    cursor: pointer;
    display:none;
    z-index: 10;
}
